<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
  <title>地理多边形面积计算</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css">
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css"
    type="text/css" />
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="app" v-loading="loading" element-loading-background="rgba(255, 255, 255, 0.4)">
    <div class="map-container">
      <div id="map" style="width: 100vw; height: 100vh"></div>
    </div>
    <div class="map-style-container">
      <el-tag>Map Source</el-tag>
      <el-select v-model="mapStyle" filterable allow-create default-first-option placeholder="Change a map's style"
        size="small" style="width: 20vw">
        <el-option v-for="item in mapList" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div class="footer-bar">
      <div class="tags">
        <el-tag style="width: 134px; font-size: 14px;">Selected position(s)</el-tag>
        <div class=" position-wrap">
          <el-tag v-for="(tag, index) in positions" :key="`positions-${index}`" closable :disable-transitions="false"
            @close="handleClose(tag)">
            {{`${Math.round(tag.lng * 100) /100},${Math.round(tag.lat * 100) /100}`}}
          </el-tag>
        </div>
        <el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small"
          @keyup.enter.native="handleInputConfirm" @blur="handleInputConfirm" placeholder="lng,lat">
        </el-input>
        <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Position</el-button>
        </el-tag>
      </div>
      <div class="operation">
        <el-tag type="success" style="height:40px; font-size: 14px; padding: 4px 27.7px;">Polygon Area</el-tag>
        <el-input v-model="area" readonly></el-input>
        <el-select v-model="unit">
          <el-option v-for="item in unitList" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>